{% assign _img_path = "/assets_external/" %}
{% assign _img_root = site.externalurl %}

{% assign _img_internal = 0 %}
{% if include contains "internal" and include.internal != 0 %}
    {% assign _img_internal = 1 %}
{% endif %}
{% if _img_root == "" %}
    {% assign _img_internal = 1 %}
{% endif %}
{% if _img_internal == 1 %}
    {% assign _img_path = "assets/" %}
    {% assign _img_root = site.baseurl %}
{% endif %}

{% assign _img_localpath = _img_path | append: "/posts/" | append: page.id | append: "/" | append: include.src %}
{% assign _img_url = _img_root | append: _img_localpath %}

{% assign _img_class = "" %}
{% if include contains "class" %}
    {% assign _img_class = include.class %}
{% endif %}

{% capture _img_width %}
{% imagesize _img_localpath:width %}
{% endcapture %}

{% capture _img_height %}
{% imagesize _img_localpath:height %}
{% endcapture %}

{% assign _img_scale = 1 %}
{% if include contains "scale" %}
    {% assign _img_scale = include.scale %}
{% endif %}
{% assign _img_width = _img_width | times: _img_scale | round %}
{% assign _img_height = _img_height | times: _img_scale | round %}

<img
    class="{{ _img_class }}"
    src="{{ _img_url }}"
    alt=" "
    width="{{ _img_width }}"
    height="{{ _img_height }}"
/>