{% assign _video_path = "/assets_external/" %}
{% assign _video_root = site.externalurl %}

{% assign _video_internal = 0 %}
{% if include contains "internal" and include.internal != 0 %}
    {% assign _video_internal = 1 %}
{% endif %}
{% if _video_root == "" %}
    {% assign _video_internal = 1 %}
{% endif %}
{% if _video_internal == 1 %}
    {% assign _video_path = "assets/" %}
    {% assign _video_root = site.baseurl %}
{% endif %}

{% assign localpath = _video_path | append: "/posts/" | append: page.id | append: "/" | append: include.src %}
{% assign url = _video_root | append: localpath %}

{% assign _video_class = "" %}
{% if include contains "class" %}
    {% assign _video_class = include.class %}
{% endif %}

<video
    width="{{ include.width }}"
    height="{{ include.height }}"
    class="{{ _video_class }}"
    autoplay
    muted
    loop
    playsinline
    oncanplay="this.muted=true" {% comment %} hack because google and apple fucking suck 🤡 {% endcomment %}
>
    <source src="{{ url }}" type="video/mp4">
    Your browser does not support the video tag.
</video>