@font-face {
    font-family: 'franklin_gothicregular';
    src: url('fonts/franklin_gothic_regular-webfont.woff2') format('woff2'),
         url('fonts/franklin_gothic_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Microsoft Sans Serif';
    font-style: normal;
    font-weight: 400;
    src: local('Microsoft Sans Serif'), url('fonts/micross.woff') format('woff');
}