// Original code taken with permission from : https://github.com/dwilliamson/donw.io/blob/master/public/css/main.css

#gh-comments-list form {
    position: absolute;
    top: 12px;
    right: 0;
}

#gh-comments {
    text-align: center;
}

#gh-comment {
    text-align: left;
    // border: 1px solid #b3b3b3;
    // margin: 2.5em 0;
    // padding: 10px;
}

#gh-comment-hr {
    margin: 8px 0px;
}

#gh-comment p {
    margin: 0px;
}

#gh-comment img {
    display: inline;
    vertical-align: middle;
    margin-right: 2px;
    border-radius: 9999px;
}