* {
    scrollbar-color: #111 #000;
}

/* ========================================================================= */

.blur-in {
    animation-name: blur-in;
    animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
    animation-duration: 1s;
    animation-fill-mode: forwards;
    filter: opacity(0%);
    -webkit-filter: opacity(0%);
}

@keyframes blur-in {
    from {
        filter: blur(128px) opacity(0%);
        -webkit-filter: blur(128px) opacity(0%);
        scale: 2;
    }
    to {
        filter: blur(0px) opacity(100%);
        -webkit-filter: blur(0px) opacity(100%);
        scale: 1;
    }
}

// Fuck you Safari
.blur-in-noscale {
    animation-name: blur-in-noscale;
    animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
    animation-duration: 1s;
    animation-fill-mode: forwards;
    filter: opacity(0%);
    -webkit-filter: opacity(0%);
}

@keyframes blur-in-noscale {
    from {
        filter: blur(128px) opacity(0%);
        -webkit-filter: blur(128px) opacity(0%);
    }
    to {
        filter: blur(0px) opacity(100%);
        -webkit-filter: blur(0px) opacity(100%);
    }
}

/* ========================================================================= */

.bg-element {   
    font-family: 'franklin_gothicregular';
    position: fixed;
    font-size: 350px;
    opacity: 0.075;
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
    white-space: nowrap;
}

#bg-top-left { 
    animation-name: blur-in-top;
    font-size: calc(min(40vw, 350px));
    top: calc(-0.3 * min(40vw, 350px));
    left: 0.95vh;
    animation-delay: 0.1s;
    overflow-x: hidden;
    text-wrap: nowrap;
}

@keyframes blur-in-top {
    from {
        filter: contrast(1.5) brightness(1.5) grayscale(1) blur(128px) opacity(0%);
        -webkit-filter: contrast(1.5) brightness(1.5) grayscale(1) blur(128px) opacity(0%);
        transform: rotateZ(15deg);
        scale: 2;
    }
    to {
        filter: contrast(1.5) brightness(0.7) grayscale(1) blur(calc(min(40vw, 350px) / 32)) opacity(100%);
        -webkit-filter: contrast(1.5) brightness(0.7) grayscale(1) blur(calc(min(40vw, 350px) / 32)) opacity(100%);
        transform: rotateZ(0deg);
        scale: 1;
    }
}

#bg-bottom-right { 
    animation-name: blur-in-bottom;
    font-size: calc(min(92vw, 1000px));
    bottom: -0.5em;
    right: -0.1em;
    animation-delay: 0.5s;
}

@keyframes blur-in-bottom {
    from {
        filter: contrast(1.5) brightness(1.5) grayscale(1) blur(128px) opacity(0%);
        -webkit-filter: contrast(1.5) brightness(1.5) grayscale(1) blur(128px) opacity(0%);
        transform: rotateZ(60deg);
        scale: 2;
    }
    to {
        filter: contrast(1.5) brightness(0.7) grayscale(1) blur(calc(min(40vw, 350px) / 32)) opacity(100%);
        -webkit-filter: contrast(1.5) brightness(0.7) grayscale(1) blur(calc(min(40vw, 350px) / 32)) opacity(100%);
        transform: rotateZ(45deg);
        scale: 1;
    }
}


/* ========================================================================= */

.clickable {
    cursor: pointer;
    scale: 100%;
    transition: opacity 0.1s, scale 0.05s;
    transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
}

.clickable:hover {
    opacity: 100%;
    background-color: rgba(255,255,255,0.1);
}

.clickable:active {
    scale: 90%;
    opacity: 90%;
    background-color: rgba(255,255,255,0.05);    
}

/* ========================================================================= */

.shadow, pre {
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

pre, .fig-bg-light > div {
    border-width: 1px;
    border-style: solid;
    border-color: #222;
    background-color: #2e2e2e66;
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
}

.fig-bg-light > div {
    border-color: #787878;
    color: black;
    background: transparent;
    backdrop-filter: invert(1) brightness(50%) contrast(200%) brightness(200%) blur(16px);
    -webkit-backdrop-filter: invert(1) brightness(50%) contrast(200%) brightness(200%) blur(16px);
}

figure {
    display: inline-block;
    width: 100%;

    // Contents
    & > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        // Individual items
        & > * {
            flex-basis: 195px;
            min-width: 195px;
            flex-grow: 1;
            object-fit: contain;
            max-height: 512px;
            height: auto;
            margin: 8px;
        }
    }

    // Caption
    figcaption {
        text-align: center;
        margin: 8px;
    }

    @media (min-width: 600px) {
        &.float-right, &.float-left {
            width: 350px;
        }
    }

    &.figure-original > div > * {
        flex-basis: unset;
        min-width: 0;
        flex-grow: 0;
        max-height: none;
    }

    &.figure-2col > div > * {
        flex-basis: 300px;
        min-width: 300px;
        max-height: none;
    }
}

.fig-right, .fig-left {
    padding: 8px;
    text-align: center;
    display: block;

    & > *:not(:last-child) {
        padding-bottom: 8px;
    }
}

@media (min-width: 600px) {
    .fig-right, .fig-left {
        width: 33%;
    
    }
}

.fig-right {
    float: right;
}

.fig-left {
    float: left;
}

.page-content {
    animation-duration: 0.5s !important;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    align-items: center;

    img {
        width: 215px;
        margin: 8px;
    }

    br {
        display: none;
    }
}

hr {
    border: none;
    border-bottom: rgba(128, 128, 128, 0.5) dashed 1px;
}

@keyframes fade-in {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.categories {
    display: inline;
    
    a {
        opacity: 0%;
        animation-name: fade-in;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;

        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        background: rgba(255, 255, 255, 0.3);
        color: black;
        height: 20px;
        line-height: 20px;
        text-transform: lowercase;
        font-size: 11px;
        margin-top: 8px;
        margin-right: 8px;
        border-radius: 6px;
        padding: 0px 6px;
        position: relative;
        box-sizing: border-box;
        display: inline-block;

        @for $i from 1 through 19 {
            &:nth-child(#{$i}) { animation-delay: #{0.75 + $i * 0.25}s; }
        }
    }
}

// Nicer placeholder for broken images
img {
    position: relative;
}

img::after {
    content: "�";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 128px;
    opacity: 25%;
}

* {
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        transition: background-color 0.1s;
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 8px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.25);
        }
    }

    // scrollbar-color: #111 #000;
    /* overflow: hidden; */
}