@font-face {
	font-family: 'terminus_ttf';
	src: url('/fonts/terminusttf-4.49.3-webfont.woff2') format('woff2'),
		url('/fonts/terminusttf-4.49.3-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'terminus_ttf';
	src: url('/fonts/terminusttf-bold-4.49.3-webfont.woff2') format('woff2'),
		url('/fonts/terminusttf-bold-4.49.3-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'terminus_ttf';
	src: url('/fonts/terminusttf-bold-italic-4.49.3-webfont.woff2') format('woff2'),
		url('/fonts/terminusttf-bold-italic-4.49.3-webfont.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'terminus_ttf';
	src: url('/fonts/terminusttf-italic-4.49.3-webfont.woff2') format('woff2'),
		url('/fonts/terminusttf-italic-4.49.3-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Microsoft Sans Serif';
	font-style: normal;
	font-weight: 400;
	src: local("Microsoft Sans Serif"),url("/fonts/micross.woff") format("woff")
}

@font-face {
	font-family: 'franklin_gothicregular';
	src: url("/fonts/franklin_gothic_regular-webfont.woff2") format("woff2"),url("/fonts/franklin_gothic_regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal
}