<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <script src="{{ "/assets/js/jquery-3.6.1.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>

    <div class="bg-element blur-in" id="bg-top-left">
      {%- if page.title -%}
        {{ page.title }}
      {%- else -%}
        heyjoeway.
      {%- endif -%}
      </div>
    <div class="bg-element blur-in" id="bg-bottom-right"></div>

    {%- include header.html -%}

    <main class="page-content blur-in" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

  </body>

</html>
