---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.tags.pinned.size > 0 -%}
    <h1>Pinned</h1>
    <ul class="post-list">
      {%- for post in site.tags.pinned -%}
      {%- include home-item.html post=post -%}
      {%- endfor -%}
    </ul>
  {%- endif -%}
  
  <hr />
  <br />

  {%- if site.posts.size > 0 -%}
    <h1>{{ page.list_title | default: "Recent Posts" }}</h1>
    <ul class="post-list">
      {%- for post in site.posts -%}
      {%- include home-item.html post=post -%}
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    <br>
  {%- endif -%}

</div>
